.global-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 64px;
  padding: 0 16px;
  margin-bottom: 20px;

  .button-group {
    display: flex;

    .btn {
      height: 40px;
      padding: 8px 16px;
      color: #fff;
      background-color: #212121;
      border-radius: 4px;
    }

    .btn:first-child {
      margin-right: 16px;
    }
  }
}
