.join-wrapper {
  width: 290px;
  padding: 166px 0;
  margin: auto;

  .join-title {
    margin-bottom: 30px;
    text-align: center;
  }

  .join-form {
    &-group {
      margin-bottom: 30px;

      label {
        display: block;
        margin-bottom: 12px;
      }

      input {
        width: 100%;
        padding: 8px 15px 9px;
        font-size: 15px;
        color: #fff;
        background-color: #ffffff26;
        border: 1px solid #ffffff26;
        border-radius: 4px;
      }

      input[id='password-check'] {
        margin-bottom: 10px;
      }

      strong {
        color: #ff7777;
      }
    }

    &-button {
      width: 100%;
      height: 50px;
      padding: 15px 10px;
      margin-bottom: 20px;
      color: #fff;
      text-align: center;
      background-color: #212121;
      border-radius: 4px;
    }
  }
}
